{
  "extends": [
    "oclif",
    "oclif-typescript",
    "plugin:prettier/recommended",
    "plugin:sonarjs/recommended"
  ],
  "plugins": ["prettier", "sonarjs"],
  "rules": {
    "quotes": "off",
    "semi": "off",
    "object-curly-spacing": "off",
    "comma-dangle": "off",
    "indent": "off",
    "camelcase": "off"
  }
}
